.box-descarga {
	border-bottom: 4px solid $gris-claro;
	margin-bottom: 30px;
	padding-bottom: 30px;
	h2 {
		font-family: $primary-font;
		color: $gris;
		font-size: 22px;
		position: relative;
		padding-left: 35px;
		i {
			color: $brand-primary;
			font-size: 30px;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
			left: 0;
			top: -2px;
			position: absolute;
		}
	}
	.btn {
		margin-top: 20px;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
	.box-descarga {
		display: table;
		width: 100%;
		vertical-align: middle;
		.btn {
			margin-top: 0;
		}
		.col-descarga, .col-descarga-derecha {
			display: table-cell;
			width: 80%;
			vertical-align: middle;
		}
		.col-descarga-derecha {
			width: 20%;
			text-align: right;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}