html {
	font-family: $primary-font;
}
a {
	color: $brand-primary;
	&:hover {
		color: black;
	}
}
li, a, a:hover, a:active, a:focus {
	text-decoration: none;
	-webkit-transition: all 230ms ease-in-out;
	-moz-transition: all 230ms ease-in-out;
	-ms-transition: all 230ms ease-in-out;
	-o-transition: all 230ms ease-in-out;
	transition: all 230ms ease-in-out;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}
html {
	background: $gris-claro;
}
body {
	background: white;
	max-width: 1500px;
	@include center;
}
hr.sep {
	@include center;
	height: 5px;
	background: #f1f1f1;
	border: 0;
	margin: 30px auto 40px auto;
}
// 768px
@media all and (min-width: $screen-portrait) {
	.container, .box-center, hr.sep { 
		@include center;
		max-width: 750px;
	}

	.table-2-columnas {
		display: table;
		vertical-align: top;
		width: 100%;
		.col {
			width: 50%;
			display: table-cell;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.container, .box-center, hr.sep { 
		max-width: 970px;
	}
	main {
		padding-bottom: 30px;
		padding-top: 30px;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.container, .box-center, hr.sep { 
		max-width: 1170px;
	}
}