$screen-portrait      : 768px;
$screen-landscape     : 992px;
$screen-desktop       : 1200px;

$brand-primary        : #223150;

$primary-font         : 'gothambook', arial, sans-serif;
$primary-font-bold    : 'gothambold', arial, sans-serif;
$primary-font-black   : 'gothamblack', arial, sans-serif;

$humanidades          : #e1b339;
$psicologia           : #AD437A;
$ingenieria           : #007ECB;
$economicas           : #22ae4b;
$derecho              : #ee2954;

$facebook         : #3b5998;
$twitter          : #33CCFF;
$soundcloud       : #f76600;
$youtube          : #FF3333;
$google           : #C63D2D;
$linkedin         : #4875B4;
$flickr           : #FE0883;
$foursquare       : #8FD400;
$instagram        : #4E433C;
$tumblr           : #2B4964;
$vimeo            : #86B32D;


$gris             : #666666;
$gris-claro       : #d1d1d1;

